image: node:20-alpine

.unpack-client:
  before_script:
    - rm -r server || true
    - cp -a client/. .
    - rm -r client

workflow:
  rules:
    - when: always

stages:
  - install
  - build
  - lint
  - test
  - deploy

install:
  stage: install
  extends: .unpack-client
  script:
    - npm ci --no-audit --no-fund --prefer-offline
  artifacts:
    paths:
      - node_modules/
    expire_in: 1h

build:
  stage: build
  extends: .unpack-client
  script:
    - cp ${SENTRY_ENV} .env.sentry-build-plugin
    - npx nx build
  artifacts:
    paths:
      - dist/social/

lint:
  stage: lint
  extends: .unpack-client
  script:
    - npx nx run-many -t lint

test:
  stage: test
  extends: .unpack-client
  script:
    - npx nx run-many -t test

pages:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - mkdir public
    - mv dist/social/* public
    - echo '/* /index.html 200' public/_redirects
  artifacts:
    paths:
      - public
