image: node:20-alpine

.unpack-client:
  before_script:
    - rm -r server || true
    - cp -a client/. .
    - rm -r client

workflow:
  rules:
    - when: always

stages:
  - install
  - build
  - lint
  - test
  - deploy

install:
  stage: install
  extends: .unpack-client
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm/
  script:
    - npm ci --cache .npm --prefer-offline
  artifacts:
    paths:
      - node_modules/

build:
  stage: build
  extends: .unpack-client
  script:
    - npx nx build
  artifacts:
    paths:
      - dist/social/

lint:
  stage: lint
  extends: .unpack-client
  script:
    - npx nx run-many -t lint

test:
  stage: test
  extends: .unpack-client
  script:
    - npx nx run-many -t test

pages:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - mkdir public
    - mv dist/social/* public
  only:
    - main
    - master
  artifacts:
    paths:
      - public