image: node:20-alpine

.unpack-frontend:
  before_script:
    - rm -r server
    - mv frontend/* .

stages:
  - install
  - build
  - lint
  - test
  - deploy

install:
  stage: install
  extends: .unpack-frontend
  script:
    - ls
    - npm ci
  artifacts:
    paths:
      - node_modules/

build:
  stage: build
  extends: .unpack-frontend
  script:
    - npx nx build
  artifacts:
    paths:
      - dist/social/

lint:
  stage: lint
  extends: .unpack-frontend
  script:
    - npx nx run-many -t lint

test:
  stage: test
  extends: .unpack-frontend
  script:
    - npx nx run-many -t test

pages:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - mkdir public
    - mv dist/social/* public
  only:
    - main
    - master
  artifacts:
    paths:
      - public
