image: node:20-alpine

stages:
  - install
  - build
  - lint
  - test
  - deploy

install:
  stage: install
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules/

build:
  stage: build
  script:
    - npx nx build
  artifacts:
    paths:
      - dist/social/
      - Gemfile

lint:
  stage: lint
  script:
    - npx nx run-many -t lint

test:
  stage: test
  script:
    - npx nx run-many -t test

pages:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - mkdir public
    - cp -r dist/social/* public
  only:
    - main
  artifacts:
    paths:
      - public
